<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput"  value="{{this.id}}" placeholder="enter id name=" name="id">
        <label for="floatingInput">Id</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput"  value="{{this.name}}"  placeholder="enter name name=" name="name">
        <label for="floatingInput">Name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput"  value="{{this.city}}" placeholder="enter city" name="city">
        <label for="floatingInput">City</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput"  value="{{this.street}}" placeholder="enter street name" name="street">
        <label for="floatingInput">Street</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.zip_code}}"  placeholder="enter zip/pin code" name="zip_code">
        <label for="floatingInput">PinCode</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.phone_no}}"  placeholder="enter mobile no" name="phone_no">
        <label for="floatingInput">Contact NO.</label>
    </div>
</div>

<div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>